<div class="center jumbotron">
  <h1>Bem-vindo à Bolsa de Emprego!</h1>

  <h2>
    Isto é uma homepage teste para o projecto Bolsa de Emprego.
  </h2>

  <%= link_to "Registe-se já!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
