<h1>Password reset</h1>

<p>Para recuperar a sua password clique no link em baixo:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>O link tem validade de duas horas.</p>

<p>
ISe não pediu a recuperação da password, por favor ignore este email e a sua password será mantida.
</p>
