<% provide(:title, 'Bolsa de Emprego') %>
<h2>Candidaturas</h2>

<ul class="offers">
  <% @offers.each do |offer| %>
    <li>
      <%#= image_tag candidate.user.picture, size: 50 %>
      <%#= gravatar_for user, size: 50 %>
      <%= link_to offer.tittle, offer %>
    </li>
  <% end %>
</ul>

<h2>Empresas Interessadas em mim</h2>

<ul class="offers">
  <% @offers.each do |offer| %>
    <li>
      <%#= image_tag candidate.user.picture, size: 50 %>
      <%#= gravatar_for user, size: 50 %>
      <%= link_to offer.tittle, offer %>
    </li>
  <% end %>
</ul>
