<% provide(:title, 'Candidatos') %>
<h1>Candidatos</h1>

<ul class="candidates">
  <% @candidates.each do |candidate| %>
    <li>
      <%= image_tag candidate.user.picture, size: 50 %>
      <%#= gravatar_for user, size: 50 %>
      <%= link_to candidate.user.name, candidate %>
      <%#= candidate.user.presentation, candidate %>
      <% if (logged_in? && current_user.candidate_id == candidate.id) || (logged_in? && current_user.backoffice?) %>
        <%= link_to "Editar", edit_candidate_path(candidate.id), class: "btn btn-primary btn-xs" %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
