<% provide(:title, 'Entidades') %>
<h1>Entidades</h1>

<ul class="companies">
  <% @companies.each do |company| %>
    <li>
      <%= image_tag company.user.picture, size: 50 %>
      <%#= gravatar_for user, size: 50 %>
      <%= link_to company.user.name, company %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
