<% provide(:title, 'Ofertas') %>
<h1>Ofertas de Emprego</h1>

<ul class="offers">
  <% @offers.each do |offer| %>
    <li>
      <%= image_tag offer.picture, size: 50 %>
      <%= link_to offer.title, offer %>
      <% if logged_in? && current_user.candidate? %>
          <%= render 'applications_form', model: @offer %><br>
      <% end %>
      <%# if logged_in? && current_user.company_id == @offers.company_id %>
        <%#= link_to "Editar", edit_offer_path, class: "btn btn-primary btn-xs" %>
      <%# end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
