<div class ="container">
      <nav>
        <ul class="nav navbar-nav" id="navegar">
            <li class="active"><a href="#">Home</a></li>
            <li><%=link_to"Entidades", companies_path %></li>
            <li><%=link_to"Candidatos", candidates_path %></li>
            <li><%=link_to"Ofertas", offers_path %></li>
            <li><%=link_to"Notícias", '#' %></li>
        </ul>
    </nav>
  </div>
